body {
  margin: 0;
  padding: 0;
  background-color: #acd5b6;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  position: relative;
}

footer {
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  text-align: center;
  width: 100%;
}

.container {
  margin: 0;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.random-article, .random-article:visited {
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
}

.random-article:hover {
  -ms-transform: ;
  -webkit-transform: ;
  transform: scale(1.3, 1.3) translate(16px, 0);
}

/* Search Icon and Search Form */
.search-form {
  position: relative;
  width: 200px;
}

.search-icon {
  height: 30px;
  padding: 0.5rem;
  width: 30px;
  border-radius: 50%;
  border: 3px solid black;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 85px;
  z-index: 999;
  transition: transform 0.5s, visibility  1s 0.1s, opacity 1s 0.1s, left 0.6s, width 0.6s, border-radius 1s;
}

.search-icon:after {
  content: "";
  width: 20px;
  height: 3px;
  position: absolute;
  right: -18px;
  top: 21px;
  transform: rotate(30deg);
  background-color: #000;
  z-index: 1;
}

.search-bar {
  box-sizing: border-box;
  padding: 0.5rem;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  border: 3px solid black;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 85px;
  transition: width 0.6s, left, 0.6s, visibility 0.2s, opacity 0.2s;
  z-index: 2;
}

.hidden-icon {
  z-index: 1;
  width: 200px;
  border-radius: 25px;
  left: 0;
  transform: scale(0.1, 1);
  opacity: 0;
  visibility: 0;
}

.visible-icon {
  z-index: 2;
  transform: none;
}

.hidden-search-bar {
  width: 0;
}

.visible-search-bar {
  width: 200px;
  left: 0;
}

.hide-search-bar {
  position: absolute;
  top: 6px;
  right: 85px;
  background-color: transparent;
  border: none;
  color: red;
  font-weight: 600;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
}

.visible-close-button {
  right: 0;
  visibility: visible;
  opacity: 1;
}

/* Search Results */
.search-results {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.3, 0.3);
  transition: 0.3s;
  margin-bottom: 4rem;
}
.single-result {
  background-color: #fff;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 0;
}

.single-result h2 {
  padding: 1rem;
  background-color: #ccc;
}

.single-result p {
  padding-left: 1rem;
  padding-right: 1rem;
}

.single-result button {
  border: none;
  width: 100%;
  margin: 0;
  background-color: #fff;
  color: #d75466;
  font-size: 1rem;
  font-weight: 600;
}

.show-results {
  visibility: visible;
  opacity: 1;
  transform: none;
}
