/* NEW Flexbox navbar */

@media screen and (min-width: 1019px) {
	.menu-item {
		display: block;
	}

	.menu {
		display: flex;
		justify-content: flex-end;
	}
}

body {
	overflow: auto;
}

#close-disclaimer {
	display: none;
	text-align: center;
	font-weight:700;
	color: white;
	font-size: 22Px;
	position:fixed;
	top: 1%;
	left: 1%;
	background-color: rgb(90,0,0);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: solid white 2px;
	z-index: 9999999;
}
#disclaimer {
	display: none;
	position:fixed;
	width: 90%;
	height: 100vh;
	padding: 5%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(24,24,24,0.95);
	color: white;
	z-index: 999999;
	overflow-y: auto;
}

#show-disclaimer {
	cursor: help;
}
