.full-portfolio-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
}

.portfolio-item {
  min-width: 250px;
  max-width: 20%;
  padding: 1rem;
  text-align: center;
}

.portfolio-item img {
  width: 80%;
  border: 5px solid black;
  transition: 0.6s;
}

.portfolio-item img:hover {
  transform: scale(1.5, 1.5) translate(0, -20px);
}

.full-portfolio-section .portfolio-item h3 {
  padding-left: 0;
}

.pink-highlighted {
  background-color: #FF4F90;
}

.yellow-highlighted {
  background-color: #FFEE00;
}

.blue-highlighted {
  background-color: #66B2FF;
}

footer {
  border: none;
  border-top: 5px solid black;
}
