/* fonts
    font-family: 'VT323', monospace;
    font-family: 'Roboto Mono', monospace;
*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

header {
  border: 5px solid black;
  position: relative;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

.navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: white;
  border-bottom: 5px solid black;
}

.top-nav {
  flex: 1;
  text-align: right;
  padding-right: 5%;
  display: none;
}

.top-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100;
}

.top-nav li {
  display: block;
  margin-left: 5%;
}

@media only screen and (min-width: 800px) {
  .top-nav li {
    display: inline;
  }
}

.header {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-top: 5px solid black;
  position: relative;
  margin-top: 1rem;
}

.header-name {
  background-color: #FF4F90;
  border-right: 5px solid black;
  width: 100%;
  font-size: 6vw;
  color: #fff;
  text-align: center;
}
@media only screen and (min-width: 800px) {
  .header {
    flex-direction: row;
  }
  .header-name {
    width: 20vw;
  }
  .top-nav {
    display: block;
  }
}

.header-intro {
  background-color: #FFEE00;
  flex: 1;
  margin: 0;
  display: flex;
  justify-content: center;
}

.web-dev {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.web-dev h2 {
  margin: 0;
  paddin: 0;
}

/* Hamburger Menu, Show-Hide */

.top-nav-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
}
@media only screen and (min-width: 800px) {
  .top-nav-container {
  align-items: stretch;
  }
}

.menu-container {
  border: none;
  background-color: transparent;
  width: 50px;
}

.menu-icon {
  width: 30px;
  background-color: #000;
  height: 5px;
  display: block;
  margin: 3px 0;
  border-radius: 3px;
}

.menu-visible {
  display: block;
}

@media only screen and (min-width: 800px) {
  .menu-container {
    display: none;
  }
}


/* Speech Bubble */

.bubble {
  margin: 2vw;
  width: 30vw;
  background-color: #fff;
  border: 5px solid black;
  font-size: 1.3vw;
  padding: 0.5vw;
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s;
  height: 10vw;
  display: none;
}

.bubble::after {
  position: absolute;
  top: 20%;
  left: 30.5vw;
  content: "";
  width: 0;
  height: 0;
  right: 0;
  border-top: 1.5vw solid transparent;
  border-bottom: 1.5vw solid transparent;
  border-left: 2vw solid white;
}

.bubble::before {
  position: absolute;
  top: 20%;
  left: 31vw;
  content: "";
  width: 0;
  height: 0;
  right: 0;
  border-top: 1.5vw solid transparent;
  border-bottom: 1.5vw solid transparent;
  border-left: 2vw solid black;
}

@media only screen and (min-width: 800px) {
  .bubble {
    display: block;
  }
}

.about {
  border: 5px solid black;
  border-top: none;
  margin: 0;
  position: relative;
  z-index: 2;
  background-color: white;
}

h2 {
  margin-top: 0;
  font-size: 2rem;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  h2 {
    font-size: 4vw;
  }
}

/* about */

.cv {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  flex-direction: column;
}

.cv-experience {
  border-right: 5px solid black;
  width: 100%;
}

h3 {
  text-align: center;
}

.cv-skills {
  flex: 1;
}

.cv-row {
  display: flex;
  padding-left: 1vw;
  margin-bottom: 1rem;
}

.cv-year {
  width: 20%;
  font-size: 4vw;
}

.cv-content {
  flex: 1;
}

.intro-text-mobile {
  display: block;
}

@media only screen and (min-width: 450px) {
  .cv-year {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 800px) {
  .cv {
    flex-direction: row;
  }

  .cv-experience {
    width: 60%;
  }

  .intro-text-mobile {
    display: none;
  }
}

/* PORTFOLIO */

.portfolio {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  border: 5px solid black;
  border-top: none;
}

.portfolio-content {
  padding-top: 1rem;
  background-color: #FFEE00;
  width: 100%;
  border-right: 5px solid black;
}

.portfolio-title {
  padding-top: 1rem;
  background-color: #66B2FF;
  flex: 1;
  border-bottom: 5px solid black;
}

.portfolio-title-container {
  position: sticky;
  top: 1rem;
  text-align: center;
}

.portfolio-content h3 {
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
  padding-left: 1vw;
  margin-bottom: 1rem;
}

.portfolio-content img {
  margin-left: 1vw;
  width: 80%;
  border: 5px solid black;
  margin: 0 auto;
}

.white-highlight {
  background-color: #fff;
}

.portfolio-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
}

.portfolio-image {
  width: 100%;
  margin-bottom: 1.5vw;
}

.portfolio-text {
  flex: 1;
}

.portfolio-text h4 {
  font-size: 1.2rem;
  margin-top: 0;
}

.portfolio-text p {
  font-size: 1rem;
}

.full-portfolio-button {
  background-color: white;
  border: 5px solid black;
  padding: 1rem;
  font-size: 2rem;
  color: black;
  margin: 0 auto 1rem auto;
  display: none;
}

.portfolio-links {
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .portfolio {
    flex-direction: row;
  }

  .portfolio-content {
    width: 60%;
  }

  .portfolio-section {
    flex-direction: row;
    text-align: left;
  }

  .portfolio-content img {
    width: 20vw;
    margin: 0 0 0 1rem;
  }

  .portfolio-image {
    width: 40%;
  }

  .portfolio-text p {
  font-size: 1.2vw;
  }

  .portfolio-content h3 {
    text-align: left;
  }

  .portfolio-text h4 {
    font-size: 1.5vw;
  }

  .full-portfolio-button {
    display: block;
  }

  .portfolio-title {
    border-bottom: 0;
  }
}

.mobile-portfolio-button {
  border-top: 5px solid black;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  background-color: #66B2FF;
  padding: 1rem 0 1rem 0;
}

@media only screen and (min-width: 800px) {
  .mobile-portfolio-button {
    display: none;
  }
}

/* Hire me section */

.hire-me {
  border: 5px solid black;
  border-top: 0;
  padding-left: 1rem;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction:
  width: 100%
}

.contact-form {
  display: flex;
  flex-direction: column-reverse;
  width: 85%;
  justify-content: center;
  padding-bottom: 1rem;
}
.contact-form-left {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-form-left input {
  display: block;
  background-color: white;
  border: 5px solid black;
  height: 1.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.contact-form-left button {
  background-color: #FF4F90;
  border: 5px solid black;
  color: #000;
  font-size: 1.5rem;
  margin: 0;
  height: 3.5rem;
  font-family: "Roboto Mono", monospace;
  color: white;
  font-weight: 900;
}

.contact-form-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.contact-form-right textarea {
  border: 5px solid black;
  margin: 0 0 1rem 0;
  height: 35vh;
}

.social-media-logo {
  width: 8vw;
  padding: 1rem;
}

@media only screen and (min-width: 800px) {
  .contact-form {
    flex-direction: row;
  }
  .contact-form-left {
    width: 30%;
  }
  .contact-form-right textarea {
    margin: 0 0 0 1rem;
  }

  .contact-form-right textarea {
  flex: 1;
  }

}
/* FOOTER */

footer {
  background-color: #FFEE00;
  padding: 1rem;
  border: 5px solid black;
  border-top: 0;
  text-align: center;
}

footer p {
  margin: 0;
}
